h1{
    color: teal;
    background-color:burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 50px;
letter-spacing: 10px;
line-height: 1.5;
text-decoration: teal double underline;
text-transform: uppercase;




}