<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<style>
    body{background-color: rgb(110, 140, 118);}

    h1{
        border: 3px solid white;
     border-radius: 30px;
    }
    p1{
        color: aqua;
    }
    
    
p2{color: rgb(176, 20, 196);

}
    p{
        color: red;
    }
    button{
        background-color: greenyellow;
        border-radius:30px ;
    border: 3px solid red;

     
    }
</style>

<body >
    <h1 ><center><p1> A j a y </p1>  <p2>S i n g h</p2></center></h1>
   
   <h3> <%= 1+2 %></h3>
    <p "> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nesciunt deserunt saepe sequi magni quod dolore
        aliquid, quam tenetur quibusdam id minus facilis corporis, non asperiores accusamus nihil. Voluptatibus,
        numquam?</p>

       <center><button ">click me</button></center> 
</body>

</html>